
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body{
  font-family: 'Lato', sans-serif;
  background-image: url(./red.jpg);
  background-size: 2000px auto;
  background-repeat: no-repeat;
}